.about-part {
	background-image: url("../../images/about-banner.jpg");
	min-height: 400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}
